<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> <strong>BIRD EXPERT  </strong>(Free service)</div>
    <p>
       <strong>BIRD EXPERT- An artificial Intelligent model that detects Bird's type based on visual observation </strong>
    </p>
	<p>
      This machine was trained on  <strong>18,000 birds. </strong> It can recognise  <strong> 150 types of birds  </strong> with an  <strong>accuracy > 95%. </strong>
    </p>
	<p>
      Simply upload photo of  unknown bird type and the BIRD EXPERT will help you!
    </p>
	<p>
      <strong> Developer: Evariste G. Kana - kana@ukzn.ac.za </strong> 
    </p>
	
	
	
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
