<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> <strong>DOG BREED FINDER</strong></div>
    <p>
       <strong>DOG BREED FINDER- An artificial Intelligent model to find the Breed of a DOG</strong>
    </p>
	<p>
      This APP was trained on  <strong>40,000 images of different dogs. </strong> It can differentiate more than<strong> 150 breeds of dogs with accuracy > 87%. </strong>
    </p>
	<p>
      Simply upload photo of a dog  and the  DOG BREED FINDER will help you!
    </p>
	<p>
      <strong>APP development team led by Ryan Enzo Kana -  evagkana@yahoo.com</strong> 
    </p>
	
	
	
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div><strong>
      <div class='result-label'>
        <label id='result-label'></label>
      </div></strong>
    </div>
  </div>
</div>
</body>
</html>
