<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> <strong>PLANT DISEASE EXPERT</strong>(Free service)</div>
    <p>
       <strong>PLANT DISEASE EXPERT- An artificial Intelligent model to diagnose your plants </strong>
    </p>
	<p>
      This machine was trained on  <strong>54,000 images of different plant leaves. </strong> It now detects common diseases of Apple, Citrus, Corn, Grape, Peach, Pepper, Potato, Cherry, Strawberry and Tomato  with an  <strong>accuracy > 97%. </strong>
    </p>
	<p>
      Simply upload photo of a plant leaf  and the  EXPERT will help you!
    </p>
	<p>
      <strong>Platform developed and Maintained by Dr Kwasi Yobo and Prof Evariste G. Kana- kanag@ukzn.ac.za </strong> 
    </p>
	
	
	
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
